.ham{
    font-size: 0;
    width: 25px;
    height: 20px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    box-sizing: border-box;
    align-self: center;
    display: none;
    align-items: center;
  }
  .ham::before{
   content: "";   
   display: block;
   width: 100%;
   border-top: 2px solid;
  }